.block {
    border-radius: 5px;
    background-color: #ffffff;
    margin: 12px 0;
    padding: 30px;
    position: relative;
    @media @stablet {
        padding: 15px;
        padding-bottom: 30px;
    }
    &__footer {
        .row-sb;
        .row-vc;
        margin-top: 25px;
        .date {
            color: @gray;
            font-size: 16px;
        }
        .actions {
            color: @azure;
            font-size: 16px;
            .row-vc;
            &__item {
                margin-right: 15px;
                position: relative;
                cursor: pointer;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &__header {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 50px;
        overflow: hidden;
        border-radius: 0 5px 0 0;
    }
    &--close {
        .block__footer {
            margin-top: 0;
        }
        @media @tablet {
            display: none;
        }
    }
    &--arch {
        opacity: 0.7;
        .b-label {
            background: @gray-dark;
            .ico:before {
                content: "\e008";
            }
        }
        .actions {
            color: @gray-3;
        }
    }
    &--protect {
        .b-label {
            background: @gray-dark;
            .ico:before {
                content: "\e007";
            }
        }
    }
    &--main {
        .b-label {
            background: @orange;
            .ico:before {
                content: "\e004";
            }
        }
    }
}