.delimiter {
    height: 0.5px;
    width: 100%;
    background: @pinkish-gray;
    display: block;
}

.media-gr {
    .row-vc;
    flex-wrap: wrap;
    &__item {
        margin-right: 10px;
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
        @media @stablet {
            margin-right: 0;
            margin-bottom: 5px;
            width: 100%;
        }
        img {
            display: block;
            max-width: 100%;
            @media @stablet {
                width: 100%;
            }
        }
        &--v {
            &:before {
                content: '';
                position: absolute;
                top: calc(~'50% - 30px');
                left: calc(~'50% - 30px');
                background: rgba(55, 183, 236, 0.4) url(../images/play.svg) no-repeat center center;
                background-size: 100%;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                transition: 0.3s ease-in-out;
            }
            &:hover {
                &:before {
                    background-size: 80%;
                }
            }
        }
        &--ph {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3) url(../images/full-screen.svg) no-repeat center center;
                opacity: 0;
                background-size: 50px;
                transition: 0.3s ease-in-out;
            }
            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }
    }
}

.txt {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 20px;
}

.location {
    .row;
    @media @stablet {
        flex-direction: column;
    }
    &__map {
        width: 300px;
        margin-right: 15px;
        .img {
            max-width: 100%;
            @media @stablet {
                width: 100%;
            }
        }
        @media @stablet {
            width: 100%;
            height: auto;
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
    &__descr {
        line-height: 1.5;
        .title {
            color: @gray-dark;
            font-weight: 500;
        }
        .adress {
            font-style: normal;
            color: @gray-cool;
            line-height: 1.5rem;
            margin-bottom: 15px;
        }
        .on-map {
            text-decoration: none;
            font-weight: 500;
            position: relative;
            &:before {
                content: '';
                width: 0;
                background: #37b7ec;
                position: absolute;
                margin: auto;
                bottom: -5px;
                height: 1px;
                left: 50%;
                transition: 0.3s ease-in-out;
            }
            &:hover {
                &:before {
                    content: '';
                    width: 100%;
                    left: 0;
                    transition: 0.3s ease-in-out;
                }
            }
        }
    }
}

.due-on {
    color: @gray-cool;
    font-size: 16px;
    &__txt {
        position: relative;
        padding-left: 30px;
        &:before {
            content: "\e009";
            .ico;
            font-size: 1rem;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.tooltip-holder {
    &:hover {
        .tooltip {
            bottom: calc(~'100% + 0.5em');
            opacity: 1;
        }
    }
}

.tooltip {
    transition: 0.1s ease-in-out;
    transition-delay: 0.5s;
    opacity: 0;
    position: absolute;
    z-index: 1;
    display: inline-block;
    padding: 8px;
    min-width: 120px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    text-transform: lowercase;
    font-size: 12px;
    background: rgba(64, 64, 64, 0.7);
    color: white;
    bottom: 0;
    left: calc(~'50% - 60px');
    &:after {
        content: "";
        top: 100%;
        left: calc(~'50% - 4px');
        position: absolute;
        border: 6px solid transparent;
        border-top: 6px solid rgba(64, 64, 64, 0.7);
    }
    @media @stablet {
        display: none;
    }
}

.b-label {
    position: absolute;
    top: -35px;
    right: -35px;
    width: 70px;
    height: 70px;
    transform: rotate(45deg);
    @media @stablet {
        top: -35px;
        right: -35px;
        width: 65px;
        height: 65px;
    }
    .ico {
        left: 30px;
        bottom: 7px;
        position: absolute;
        font-size: 14px;
        color: white;
        transform: rotate(-45deg);
        @media @stablet {
            left: 26px;
            bottom: 6px;
            font-size: 12px;
        }
    }
}