.btn {
    border: none;
    background: transparent;
    outline: none;
    display: inline-block;
    border-radius: 3px;
    letter-spacing: 0.02em;
    white-space: nowrap;
    &__ico {
        color: @azure;
        margin-right: 10px;
    }
    &--m {
        padding: 8px 15px;
        font-size: 14px;
        font-weight: 300;
        @media @stablet {
            font-size: 12px;  
        }
    }
    &--blue {
        background: @blue;
        color: white;
        transition: 0.3s ease-in-out;
        &:hover {
            background: lighten(@blue, 5%);
        }
    }
    &--white {
        background: white;
        transition: 0.3s ease-in-out;
        &:hover {
            color: @azure;
        }
    }
    &--share {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &--group {
        .row;
        .btn {
            margin-right: 15px;
            flex: 1;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}