[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

[type="checkbox"]+label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.2rem;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

[type="checkbox"]:not(.checkbox)+label:after {
    border: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:checked+label:before {
    top: 0;
    left: 0;
    width: 5px;
    height: 10px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type="checkbox"].checkbox+label:after {
    border-radius: 2px;
}

[type="checkbox"].checkbox+label:before,
[type="checkbox"].checkbox+label:after {
    content: '';
    left: 0;
    position: absolute;
    transition: 0.1s ease-in-out;
    z-index: 1;
}

[type="checkbox"].checkbox:not(:checked)+label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 20% 40%;
    transform-origin: 100% 100%;
}

[type="checkbox"].checkbox:not(:checked)+label:after {
    height: 10px;
    width: 10px;
    background-color: transparent;
    border: 2px solid @gray;
    top: 2px;
    z-index: 0;
}

[type="checkbox"].checkbox:checked+label:before {
    top: 3px;
    left: 0px;
    width: 2px;
    height: 6px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type="checkbox"].checkbox:checked+label:after {
    top: 2px;
    width: 10px;
    height: 10px;
    border: 2px solid @blue-dark;
    z-index: 0;
    background: @blue-dark;
}

.check-list {
    &__item {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;   
        }
    }
}