.documents-gr {
    .row;
    font-size: 14px;
    text-align: center;
    flex-wrap: wrap;
    &__item {
        margin-right: 30px;
        margin-top: 30px;
        &:last-child {
            margin-right: 0;  
        }
        .img {
            display: inline-block;
            margin-bottom: 10px;
        }
    }
}