.footer-m {
    background: @gray-dark;
    color: @gray-f-h;
    margin-top: 90px;
    @media @tablet {
        margin-top: 50px;
    }
    &__wrap {
        padding: 15px 0;
        .container;
        .row-sb;
        .row-vc;
    }
    .copyr {
        font-size: 12px;
        text-transform: uppercase;
        @media @stablet {
            display: none;
        }
    }
    .menu {
        font-size: 12px;
        text-transform: uppercase;
        .row-vc;
        &__item {
            margin-right: 15px;
            transition: 0.3s ease-in-out;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                color: white;
            }
        }
    }
    .soc-links {
        font-size: 16px;
        &__item {
            transition: 0.3s ease-in-out;
            &:hover {
                color: white;
            }
        }
    }
}