.header-m {
    background: @gray-dark;
    color: @gray-f-h;
    &__wrap {
        padding: 15px 0;
        .container;
        .row-sb;
        .row-vc;
        @media @tablet {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    .logo {
        width: 140px;
        img {
            max-width: 100%;
        }
    }
    .sign-up {
        font-size: 14px;
        @media @stablet {
            display: none;
        }
    }
    .login {
        color: white;
        font-size: 14px;
        @media @stablet {
            font-size: 12px;
        }
        &__item {
            margin-right: 25px;
            &:last-child {
                margin-right: 0;
            }
            &--mob {
                display: none;
                @media @stablet {
                    display: block;
                }
            }
        }
        @media @stablet {
        .row;
        }
    }
}