.list-g {
    &__row {
        .row-sb;
        .row-vc;
        padding: 15px 0;
        .bordered;
        &:last-child {
            padding-bottom: 0;  
            border: none;
        }
        &:first-child {
            padding-top: 0;
        }
        @media @stablet {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__title {
        position: relative;
        padding-left: 30px;
        font-weight: 500;
        @media @stablet {
            margin-bottom: 8px;
        }
        &:before {
            content: "\e006";
            position: absolute;
            left: 0;
            top: 0;
            color: @gray;
            .ico;
        }
        &--active {
            &:before {
                color: @red;
            }
        }
    }
    &__content {
        .row-sb;
        .row-vc;
        color: @gray;
        @media @stablet {
            width: 100%;
        }
        .item {
            margin-right: 50px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .delimiter {
        margin: 15px 0;
        @media @stablet {
         display: none;
        }
    }
}