.modal-bg {
    overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 99;
    }
}

.modal {
    z-index: 100;
    background: white;
    position: fixed;
    top: 5vh;
    width: calc(~'100% - 50px');
    margin: 0 25px;
    border-radius: 5px;
    overflow: hidden;
    display: none;
    &.active {
        display: block;
    }
    &__header {
        padding: 15px;
        text-align: center;
        position: relative;
        .title {
            font-size: 24px;
            font-weight: 500;
        }
    }
    &__body {
        background: @pale-grey;
        padding: 30px 20px;
    }
    &__footer {
        margin-top: 30px;
    }
    .ico-close {
        position: absolute;
        width: 12px;
        height: 12px;
        top: 15px;
        right: 15px;
        cursor: pointer;
        background: url(../images/cancel.svg) no-repeat center;
        background-size: contain;
    }
    .share-link {
        font-size: 22px;
    }
}