.profile {
    margin: 30px 0;
    @media @stablet {
        margin: 20px 0;
    }
    &__wrap {
        .row-sb;
        .row-vc;
    }
    &__soc-links {
        @media @stablet {
            display: none;
        }
    }
    &__share-btns {
        display: none;
        margin: 20px 0;
        @media @stablet {
            display: block;
        }
    }
}

.user {
    .row-vc;
    &__ava {
        width: 48px;
        img {
            max-width: 100%;
        }
        @media @stablet {
            width: 38px;
        }
    }
    &__name {
        font-size: 18px;
        color: @gray-dark;
        margin-left: 15px;
        font-weight: 500;
        @media @stablet {
            font-size: 16px;
        }
    }
}

.post-release {
    margin: 15px 0;
    .row-sb;
    .row-vb;
    .title {
        font-size: 20px;
        color: @gray-dark;
        font-weight: 500;
    }
    &__btn {
        @media @stablet {
            display: none;
        }
    }
}