.soc-links {
    .row;
    .row-vc;
    &__item {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
    &--w {
        color: white;
    }
    &__copy {
        background: #92b6c4;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 4px;
        font-weight: 300;
        margin-left: 15px;
    }
    &--centred {
        justify-content: center;
    }
    &--bg {
        .soc-links__item {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
        .ico-twitter {
            background-color: #29a9e1;
        }
        .ico-facebook {
            background-color: #3a589c;
        }
        .ico-vk {
            background-color: #5a7ba0;
        }
        .ico-linkedin {
            background-color: #007bb8;
        }
    }
}