@font-face {
    font-family: 'Proxima Nova';
    src: url('../font/helvetica/helveticaneuecyr-thin.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../font/helvetica/helveticaneuecyr-light.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../font/helvetica/helveticaneuecyr-medium.otf') format("opentype");
    font-weight: 500;
    font-style: normal;
}