@font-face {
    font-family: "icofont";
    src: url("../font/icofont.eot");
    src: url("../font/icofont.eot?#iefix") format("embedded-opentype"), url("../font/icofont.woff") format("woff"), url("../font/icofont.ttf") format("truetype"), url("../font/icofont.svg#icofont") format("svg");
    font-weight: normal;
    font-style: normal;
}

.ico {
    font-family: "icofont" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;    
}

.ico-facebook:before {
    content: "\e000";
    .ico;
  }
  .ico-twitter:before {
    content: "\e001";
    .ico;
  }
  .ico-vk:before {
    content: "\e002";
    .ico;
  }
  .ico-instagram:before {
    content: "\e003";
    .ico;
  }
  .ico-star:before {
    content: "\e004";
    .ico;
  }
  .ico-share:before {
    content: "\e005";
    .ico;
  }
  .ico-list:before {
    content: "\e006";
    .ico;
  }
  .ico-lock:before {
    content: "\e007";
    .ico;
  }
  .ico-archive:before {
    content: "\e008";
    .ico;
  }
  .ico-calendar:before {
    content: "\e009";
    .ico;
  }
  .ico-linkedin:before {
    content: "\e00a";
    .ico;
  }
  .ico-link:before {
    content: "\e00b";
    .ico;
  }
  