body {
    font-family: 'Proxima Nova', sans-serif;
    position: relative;
    min-height: 100vh;
    font-size: 16px;
    color: #545454;
    font-weight: 400;
    background: url(../images/pat@3x.png) repeat;
    box-sizing: border-box;
    letter-spacing: 0.02em;
    overflow-x: hidden;
    @media @tablet {
        background: url(../images/pat@2x.png) repeat;
    }
    @media @stablet {
        background: url(../images/pat.png) repeat;
    }
}