@gray-cool: #a6aeb6;
@gray-3: #979da3;
@gray: #b8b8b8;
@pinkish-gray: #bdbdbd;
@gray-dark: #3c434a;
@brown-dark: #404040;
@gray-f-h: #8c9399;
@azure: #00aeff;
@blue: #37b7ec;
@blue-dark: #3b99fc;
@orange: #ef4b2b;
@red: #ed1e23;
@pad: 25px;
@pad-s: 15px;
@pale-grey: #f0f5fa;

.link {
    border-bottom: solid 0.5px;
}
.txt-centred {
    text-align: center;
}
.pad {
    padding: @pad 0;
}

.pad-t {
    padding-top: @pad;
}

.pad-b {
    padding-bottom: @pad;
}
.pad--s {
    padding: @pad-s 0;
}

.pad-t--s {
    padding-top: @pad-s;
}

.pad-b--s {
    padding-bottom: @pad-s;
}
.bordered {
    border-bottom: solid 0.5px @pinkish-gray;
}
.txt-blue {
    color: @blue;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    @media @stablet {
        padding-left: 15px;
        padding-right: 15px;  
    }
}

.row {
    display: flex;
}

.row-sb {
    .row;
    justify-content: space-between;
}

.row-vc {
    .row;
    align-items: center;
}

.row-vb {
    .row;
    align-items: flex-end;
}

.row-c {
    .row;
    justify-content: center;
}


/* tablet = 768 */

/* mobile = 320 */

@tablet: ~"(max-width: 768px)";
@stablet: ~"(max-width: 640px)";
@mobile: ~"(max-width: 360px)";